*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #efe4b0;
    height:15vh ;
    text-align: center;

}
.Titre{
    padding-top: 25px;
    font-size: 32px;
    color: #900910;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}
main{
     height : 75vh;
    background-color: aqua;

}
aside{
    float: left;
    width:15vw;
    background-color: #b97a57;
    height:75vh;

}nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
}
li{
    list-style-type: none;
    height: 30px;
    width: 100px;
    background-color: #fdd702;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
li:hover{
    box-shadow: 2px 2px 2px black;
}
a{
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}
a:hover{
    color:#ebe2b3
}
section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;


}
.Message{
    font-size:30px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:#83042c ;
    font-weight:bold ;
    font-style: italic;

}
footer {
    background-color:#efe4b0;
    height: 10vh;
    text-align: center;
    display: grid;
    place-items:center;
 
}

